<h1>Question Bank</h1>

<div class="button-row">
  <mat-form-field class="search-field">
    <input matInput placeholder="Search for Questions" (input)="filterQuestions($event)">
  </mat-form-field>
  <button mat-flat-button (click)="openSubmitQuestionDialog()">Submit Questions</button>
</div>

<!-- No questions found message -->
<div *ngIf="filteredQuestions.length === 0 && !loading">
  <p>No questions found.</p>
</div>

<!-- Loading state -->
<div *ngIf="loading">
  <p>Loading questions...</p>
</div>

<!-- Pass filtered data to app-questions -->
<app-questions
  *ngIf="filteredQuestions.length > 0"
  [user]="user"
  [questions]="filteredQuestions"
  [quest]="quest"
  (editQuestion)="openEditQuestionDialog($event)"
  (addQuestionToQuest)="addQuestionToQuest($event)"
  (removeQuestionFromQuestEvent)="removeQuestionFromQuest($event)">
></app-questions>
