<div class="container" *ngIf="!isLoading">
  <mat-card class="quest-details">
    <mat-card-header class="card-header">
      <mat-card-title>{{ quest!.questName }}</mat-card-title>
      <div></div>
      <mat-chip-set>
        <mat-chip color="accent" highlighted>{{ quest!.questSubject }}</mat-chip>
      </mat-chip-set>
    </mat-card-header>
    <mat-card-content>
      <p>{{ quest?.questDescription }}</p>
    </mat-card-content>
    <mat-card-actions>
      <span class="questions-count">{{ quest!.questions.length }} questions</span>
      <button mat-stroked-button (click)="openEditQuestDialog(quest)" *ngIf="user != null && user.uid == quest?.createdBy">
        <mat-icon>edit</mat-icon>
        Edit Quest / Questions
      </button>
    </mat-card-actions>
  </mat-card>
  <button mat-raised-button color="accent" (click)="startQuest()" [disabled]="quest?.questions?.length === 0">
    Start the Quest
  </button>
  <mat-tab-group>
    <mat-tab label="Preview Questions">
      <ng-container *ngIf="quest; else loading">
        <!-- Check if there are questions associated with the quest -->
        <div *ngIf="quest?.questions?.length === 0; else questionsAssigned">
          <p>No questions have been assigned to this quest.</p>
        </div>

        <ng-template #questionsAssigned>
          <app-questions [quest]="quest" [questions]="quest?.questions || []" [questionsEditable]="true"
            [hideAnswers]="true"></app-questions>
        </ng-template>
      </ng-container>
    </mat-tab>
  </mat-tab-group>

  <ng-template #loading>
    <div class="center-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
