<div class="container">
  <mat-card class="quest-details">
    <mat-card-header>
      <mat-card-title>{{ quest?.questName }}</mat-card-title>
      <mat-card-subtitle>{{ quest?.questDescription }}</mat-card-subtitle>
      <span class="spacer"></span>
      <button mat-stroked-button (click)="openEditQuestDialog(quest)">
        <mat-icon>edit</mat-icon>
        Edit Quest / Questions
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-chip color="accent" highlighted>{{ quest?.questSubject }}</mat-chip>
    </mat-card-content>
  </mat-card>
  <button mat-raised-button color="accent" (click)="startQuest()" [disabled]="quest?.questions?.length === 0">
    Start the Quest
  </button>
  <mat-tab-group>
    <mat-tab label="Preview Questions">
      <ng-container *ngIf="quest; else loading">
        <!-- Check if there are questions associated with the quest -->
        <div *ngIf="quest?.questions?.length === 0; else questionsAssigned">
          <p>No questions have been assigned to this quest.</p>
        </div>

        <ng-template #questionsAssigned>
          <app-questions [quest]="quest"
                          [questions]="quest?.questions || []"
                          [questionsEditable]="true"
                          [hideAnswers]="true"></app-questions>
        </ng-template>
      </ng-container>
    </mat-tab>
  </mat-tab-group>

  <ng-template #loading>
    <div class="center-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
