.app-bar-accent {
    width: 100%;
    height: 8px;
    background: linear-gradient(to bottom right, #db2626, #86000d);
}

.appbar-spacer {
    flex: 1 1 auto;
}

.app-container {
    margin: 0 auto;
}

.center-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff5252;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 1.2rem;
  }



footer {
    padding: 24px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

footer p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.footer-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 3px;
}

.footer-links a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
