.app-bar {
    background: linear-gradient(to bottom right, #db2626, #86000d);
    color: white;

    button {
        color: white;
    }
}

.appbar-spacer {
    flex: 1 1 auto;
}

.app-container {
    width: 1080px;
    margin: 0 auto;
}

.center-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}