<h2 mat-dialog-title>Submit a Question</h2>
<mat-dialog-content>
    <form [formGroup]="questionForm">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Question</mat-label>
            <input matInput formControlName="question" placeholder="Enter your question">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Subject</mat-label>
            <input matInput formControlName="subject" placeholder="Enter the subject">
        </mat-form-field>

        <h4>Options: </h4>

        <div formArrayName="answers">
            <div *ngFor="let answer of answers.controls; let i = index">
                <div [formGroupName]="i" class="answer-row">
                    <button mat-icon-button color="warn" [disabled]="answers.length < 3" (click)="removeAnswer(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-form-field appearance="outline" class="answer-input">
                        <mat-label>Answer {{ i + 1 }}</mat-label>
                        <input matInput [formControlName]="'text'" placeholder="Enter answer {{ i + 1 }}">
                    </mat-form-field>
                    <div class="toggle-container">
                        <mat-slide-toggle [formControlName]="'correct'" color="primary">
                            <span [ngClass]="{'correct': answer.value.correct, 'incorrect': !answer.value.correct}">
                                {{answer.value.correct ? 'Correct ' : 'Incorrect'}}
                            </span>
                        </mat-slide-toggle>
                    </div>
                </div>

            </div>
        </div>

        <div class="add-answer">
            <button mat-stroked-button type="button" (click)="addAnswer()">
                <mat-icon fontIcon="add"></mat-icon> Add Answer
            </button>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button mat-dialog-close color="accent" (click)="submitQuestion()"
        [disabled]="!questionForm.valid">Submit</button>
</mat-dialog-actions>
