<div>
  <h1>Dashboard</h1>

  <div class="button-row">
    <mat-form-field class="search-field">
      <input matInput placeholder="Search for Quests">
    </mat-form-field>
    <button mat-flat-button (click)="onCreateItem(test)">Create Quest</button>
    <button mat-flat-button (click)="openSubmitQuestionDialog()">Submit Questions</button>
  </div>

  <div *ngIf="items !== undefined">
    <mat-grid-list cols="3" class="grid-container">
      @for (item of items; track $index) {
      <mat-grid-tile>
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>{{item.createdOn}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Temporibus animi voluptate ipsam facere, cumque illo inventore nihil sunt
            doloribus ut architecto accusamus fuga quia fugit in. Iste delectus exercitationem asperiores.
          </mat-card-content>
          <mat-card-actions>
            <div>
              <button mat-flat-button>Start Quest</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      }
    </mat-grid-list>

  </div>

</div>