<div>
  <h1>Dashboard</h1>

  <div class="button-row">
    <mat-form-field class="search-field">
      <input matInput placeholder="Search for Quests">
    </mat-form-field>
    <button mat-flat-button (click)="openQuestDialog()">Create Quest</button>
    <button mat-flat-button (click)="openSubmitQuestionDialog()">Submit Questions</button>
  </div>

  <div *ngIf="quests !== undefined">
    <mat-grid-list cols="3" class="grid-container">
      <mat-grid-tile *ngFor="let quest of quests; let i = index; trackBy: trackByIndex">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{quest.questName}}</mat-card-title>
            <mat-card-subtitle>{{quest.questSubject}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{quest.questDescription}}
          </mat-card-content>
          <mat-card-actions>
            <div>
              <button mat-flat-button>Start Quest</button>
              <button mat-flat-button (click)="openEditQuestDialog(quest)">Edit Quest</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  

</div>