<div *ngIf="quest">
  <h1>Add questions to {{ quest?.questName }}</h1>
  
  <!-- Search input for filtering questions -->
  <mat-form-field class="search-field">
    <input matInput placeholder="Search for Questions" (input)="filterQuestions($event)">
  </mat-form-field>

  <!-- Check if there are no filtered questions -->
  <div *ngIf="filteredQuestions.length === 0">
    <p>No questions found</p>
  </div>

  <!-- Pass filtered questions to the QuestionsComponent -->
  <app-questions 
    *ngIf="filteredQuestions.length > 0" 
    [quest]="quest" 
    [questions]="filteredQuestions"
    [questionsEditable]="false"
    (addQuestionToQuest)="onAddToQuest($event)"
    (removeQuestionFromQuestEvent)="removeQuestionFromQuest($event)">
  </app-questions>
</div>

<ng-template #loading>
  <div class="center-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
