@use '@angular/material' as mat;

@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

$primary-palette: mat.m2-define-palette(mat.$m2-grey-palette, 900);
$tertiary-palette: mat.m2-define-palette(mat.$m2-red-palette, 500);

$knowledge-quest-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $tertiary-palette,
  ),
  typography: (
    brand-family: 'Roboto, Material Icons',
    bold-weight: 900,
  )
));

body {
    margin: 0;
    padding: 0;
}

html {
    @include mat.all-component-themes($knowledge-quest-theme);

    min-height: 100vh;

    font-family: Roboto;
}
